
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
*.parquet
*.csv
/w2/*.json
**/terraform/*.json
# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/

# =========================
# Data files (VERY IMPORTANT)
# =========================
data/
*.parquet
*.csv
*.csv.gz

# =========================
# DuckDB
# =========================
*.duckdb
*.duckdb.wal
